:root {
  --space-cadet: hsl(224, 48%, 22%);
  --black-coral: hsl(219, 13%, 44%);
  --white: hsl(0, 0%, 100%);
  --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
  --fs-1: 1.875rem;
  --fs-4: 0.875rem;
  --fw-500: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: var(--ff-be-vietnam-pro);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

.h1 {
  font-size: var(--fs-1);
  color: var(--space-cadet);
  line-height: 1.2;
}

.section-text {
  color: var(--black-coral);
  font-size: var(--fs-4);
  line-height: 1.8;
  margin-bottom: 15px;
}
